<div class="container">  
    <div class="jumbotron"> 
            <h1>Welcome to your Todolist!</h1>
            <p>Keep track of your daily stuff!</p>
            <%= link_to "SignUp", new_user_registration_path, class: 'btn btn-primary'%>
            <%= link_to "SignIn", new_user_session_path , class: 'btn btn-primary'%>
    </div>
</div>